doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
  body(bgcolor='#f5f5f5' style='padding:32px 0;margin:0;background-color:#f5f5f5')
    center
      div(style='width:50%;background-color:white;padding:32px;box-sizing: border-box')
        img(src='https://justforcodeservice.com/images/logo.png' width='300')
        div(align='left' style='margin:24px 0')
          h1(style='font-family: poppins;padding:0;margin:0;font-weight:400') Hi
          p(style='font-family: sans-serif;margin:0;padding:0;line-height:30px') Welcome to the just for code community, World`s largest software engineering classes. 
        div(align='left' style='border:1px solid #f5f5f5;padding: 24px 24px')
          h2(style='font-family: poppins;padding:0;margin:0') Addmission Invitation
          p(style='font-family: sans-serif;margin:0;padding:0;line-height:30px') Just For Code Pvt. Ltd
            br
            | +91 6393640841
          button(style='border:none;background-color:#4be9ff;padding:8px 24px;margin-top:8px')
            a(href=link style='text-decoration:none;color:black;font-family:sans-serif;font-weight:400') Accept
        center(style='margin-top:24px')
          a(href='#' style='text-decoration:none;color:black;font-family:sans-serif;') www.justforcodeservice.com

