doctype html
html(lang="en")
    head
    include bootstrap
        title Home Page
    body 
        div.container
            nav
                img(src="images/front.png" width="120" alt="" srcset="")
                ul
                    li
                        a(href="#")Login
                    li
                        a(href="#")Singup