div.modal.animate__animated.animate__zoomIn#login-modal
    div.modal-dialog.modal-lg.modal-dialog-centered
        div.modal-content
            div.modal-body.p-5
                div.row
                    div.col-md-6.d-flex.justify-content-center.align-items-center
                        img(src="images/signup.jpg" width="100%" alt="" srcset="")
                    div.col-md-6
                        h1.display-4.fw-bold.mb-3(style="font-size:34px") Login Here
                        form#login-form
                            div.form-group.mb-4
                                input.form-control.username.p-3(type="email" placeholder="Email" name="email")
                                span.username-error.text-danger
                            div.form-group.mb-4
                                input.form-control.password.p-3(type="password" placeholder="Password" name="password")
                                span.password-error.text-danger
                            div.form-group.mb-3
                                button.btn.btn-primary.login-btn(type="submit") LogIn
                                button.btn.btn-danger.disabled.d-none.before-send
                                    span.spinner-grow.spinner-grow-sm
                                    span Processing...
                            p Create an Account ? 
                                a(href="#" id="signup-modal-req") Signup