doctype html
html(lang="en")
    head
    include bootstrap
    link(rel="stylesheet" href="stylesheets/profile.css")
    script(src="javascripts/profile.js")
        title Profile Page
    body
        div.sidenav.sidenav-open
        div.section.section-open
            nav.navbar.navbar-expand-sm.px-3.py-3.bg-white.shadow-sm
                button.btn.toggler
                    i.fa.fa-align-left
                ul.navbar-nav.w-100.justify-content-end
                    li.nav-item    
                        a.nav-link(href="/logout") Logout