doctype html
html(lang="en")
    head
    include bootstrap
    link(rel="stylesheet" href="stylesheets/profile.css")
    block loadStyle
    script(src="javascripts/profile.js")
    script(src="javascripts/common.js")
    block loadScript
        title Profile Page
    body
        - const toolbar = [{icon:"fa fa-user-secret", link:"/students"},{icon:"fas fa-users", link:"/teams"},{icon:"fa fa-sign-out-alt", link:"/logout"}]
        div.sidenav.sidenav-open
            div 
                button 
                    i.fa.fa-building(style="font-size:35px")
                h5.company-name
                p.company-email
                p.company-mobile
        div.section.section-open
            nav.navbar.navbar-expand-sm.px-3.py-3.bg-white.shadow-sm
                button.btn.toggler
                    i.fa.fa-align-left
                ul.navbar-nav.w-100.justify-content-end
                    each menu of toolbar
                        li.nav-item    
                            button.btn.toolbar.mx-2
                                a.nav-link(href=menu.link) 
                                    i(class=menu.icon)
            div.mx-4.py-3
                block content 