doctype html
html(lang="en")
    head
    include bootstrap
    link(rel="stylesheet" href="stylesheets/profile.css")
    script(src="javascripts/profile.js")
        title Profile Page
    body
        div.sidenav
        div.section 
        