doctype html
html(lang="en")
    head
    include bootstrap
    link(rel="stylesheet" href="stylesheets/profile.css")
    block loadStyle
    script(src="https://sdk.amazonaws.com/js/aws-sdk-2.1442.0.min.js")
    script(src="javascripts/profile.js")
    script(src="javascripts/dotenv.js")
    script(src="javascripts/common.js")
    block loadScript
        title Profile Page
    body
        - const toolbar = [ {icon:"fa fa-bell", link:"/notifications", design:"icon-btn-dark"},{icon:"fa fa-user-secret", link:"/students", design:"icon-btn-primary"},{icon:"fas fa-users", link:"/teams",design:"icon-btn-warning"},{icon:"fa fa-cog", link:"/settings", design:"icon-btn-info"} ,{icon:"fa fa-sign-out-alt", link:"/logout", design:"icon-btn-danger"}]
        div.sidenav.sidenav-open
            div.d-flex.flex-column.align-items-center 
                button.logo-box.m-3.mt-3
                    i.fa.fa-building(style="font-size:35px")
                h5.company-name.text-white.p-0.m-0
                p.company-email.text-white
                p.company-mobile.text-white
        div.section.section-open
            nav.navbar.navbar-expand-sm.px-3.py-3.bg-white.shadow-sm
                button.btn.toggler
                    i.fa.fa-align-left
                ul.navbar-nav.w-100.justify-content-end
                    each menu of toolbar
                        li.nav-item    
                            button.btn.toolbar.mx-2(class=menu.design)
                                a.nav-link(href=menu.link class=menu.design)
                                    i(class=menu.icon)
            div.mx-4.py-3
                block content 