include profile
    block loadStyle
        link(rel="stylesheet" href="stylesheets/students.css")
    block loadScript
        script(src="javascripts/students.js") 
    block content
        p.medium-font Students...
        div.card.container-fuild
            div.card-body.border-none
                div.row
                    div.col-md-3
                        input(type="text" class="input remove-focus form-control" placeholder="Search")
                    div.col-md-6
                    div.col-md-3
                        button.btn.btn-light.mx-4 Export
                        button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#student-modal") Add Students
        div.modal.animate__animated.animate__slideInDown.animate-faster#student-modal
            div.modal-dialog.modal-dialog-centered.modal-lg
                div.modal-content
                    div.modal-body.px-3
                        h4.medium-font Students
                        form 
                            div.row
                                div.col-md-6
                                    div.form-group
                                        input(type="text" name="studentName" placeholder="Student Name" class="form-control input remove-focus mb-3")
                                    div.form-group
                                        input(type="email" name="studentEmail" placeholder="Email Address" class="form-control input remove-focus mb-3")
                                    div.form-group
                                        input(type="text" name="studentFather" placeholder="Father Name" class="form-control input remove-focus mb-3")
                                    div.form-group
                                        input(type="date" name="studentDob" class="form-control input remove-focus mb-3")
                                    div.form-group.d-flex.mb-3.mx-1
                                        button.code.btn.btn-light(type="button") (+91)
                                        input(type="number" name="studentMobile" placeholder="Student Mobile" class="form-control input remove-focus")
                                div.col-md-6
                                    div.form-group.mb-3
                                        input(type="text" name="studentCountry" placeholder="Country" class="form-control country input remove-focus")
                                    div.form-group.mb-3
                                        input(type="text" name="studentState" placeholder="State" class="form-control input remove-focus")
                                    div.form-group.mb-3
                                        input(type="number" name="studentPin" placeholder="Pincode" class="form-control input remove-focus")
                                    div.form-group.mb-3
                                        textarea(name="studentAddress" placeholder="Address" class="form-control input remove-focus")
                                    button.btn.btn-primary.float-end(type="submit") Submit