include profile
    block loadStyle
        link(rel="stylesheet", href="stylesheets/students.css")
    block loadScript
        script(src="javascripts/students.js") 
    block content
        p.medium-font Students...
        div.card-container-fuild
            div.card-body.border-none
                div.row
                    div.col-md-3
                    div.col-md-3
                    div.col-md-3