include profile
    block loadStyle
        link(rel="stylesheet" href="stylesheets/students.css")
    block loadScript
        script(src="javascripts/students.js") 
    block content
        - const skeleton = ['a','b','c','d','e']
        p.medium-font Students...
        div.card.container-fuild
            div.card-body.border-none
                div.row
                    div.col-md-3
                        div.d-flex.align-items-center 
                            button.btn.icon-btn-info.mx-2
                                i.fa.fa-cog.fa-spin
                            input(type="text" class="input remove-focus p-3 form-control" placeholder="Search")
                    div.col-md-6
                    div.col-md-3
                        button.btn.btn-light.mx-4 Export
                        button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#student-modal") Add Students
                div.table-responsive
                    table.table.my-4
                        thead
                            tr.text-center
                                th Profile
                                th Email Id
                                th Mobile
                                th Father
                                th DOB
                                th Country
                                th State
                                th Pincode
                                th Address
                                th Status
                                th CreatedAt
                                th Action
                        tbody.student-list
                            each data of skeleton
                                tr.students-skeleton
                                    td(colspan="9").py-3
                                        div.d-flex
                                            div.mx-3.d-flex.justify-content-center.align-items-center
                                                div.student-pic.skeleton
                                                    div.skeleton-loader
                                            div.d-flex.flex-column.w-100
                                                div.student-title.mb-2.skeleton
                                                    div.skeleton-loader
                                                div.student-subtitle.skeleton
                                                    div.skeleton-loader
                    div.btn.pagination.float-end.border-none.mb-3
                        button.border.btn-design(disabled)#prev
                            i.fa-solid.fa-chevron-left
                        div.btn-group#student-pagination
                        button.border.btn-design#next
                            i.fa-solid.fa-chevron-right
        div.modal.animate__animated.animate__slideInDown.animate-faster#student-modal
            div.modal-dialog.modal-dialog-centered.modal-lg
                div.modal-content
                    div.modal-body.px-3
                        h4.medium-font Students
                        form#student-form
                            div.row
                                div.col-md-6
                                    div.form-group
                                        input(type="text" name="studentName" placeholder="Student Name" class="form-control input remove-focus mb-3")
                                    div.form-group
                                        input(type="email" name="studentEmail" placeholder="Email Address" class="form-control student-email input remove-focus mb-3")
                                    div.form-group
                                        input(type="text" name="studentFather" placeholder="Father Name" class="form-control input remove-focus mb-3")
                                    div.form-group
                                        input(type="date" name="studentDob" class="form-control input remove-focus mb-3")
                                    div.form-group.d-flex.mb-3.mx-1
                                        button.code.btn.btn-light(type="button") (+91)
                                        input(type="number" name="studentMobile" placeholder="Student Mobile" class="form-control input remove-focus")
                                div.col-md-6
                                    div.form-group.mb-3
                                        input(type="text" name="studentCountry" placeholder="Country" class="form-control country input remove-focus")
                                    div.form-group.mb-3
                                        input(type="text" name="studentState" placeholder="State" class="form-control input remove-focus")
                                    div.form-group.mb-3
                                        input(type="number" name="studentPin" placeholder="Pincode" class="form-control input remove-focus")
                                    div.form-group.mb-3
                                        textarea(name="studentAddress" placeholder="Address" class="form-control input remove-focus")
                                    button.btn.btn-primary.float-end.add-student-btn(type="submit") Submit
                                    button.btn.btn-info.text-white.btn-design.float-end.update-student-btn.d-none(type="button") Update
                                    button.btn.btn-danger.btn-design.float-end.d-none.student-loader(type="button" disabled)
                                        span.spinner-grow.spinner-grow-sm.mx-2 
                                        span Processing...
        div.tmp