include profile
    block loadStyle
        link(rel="stylesheet", href="stylesheets/students.css")
    block loadScript
        script(src="javascripts/students.js") 
    block content
        h1 Students...