div.toast.uploader.m-4.d-none
    div.toast-header.d-flex.justify-content-between
        b Uploader
        button(type="button" class="close btn icon-btn-primary" data-bs-dismiss="toast") &times
    div.toast-body 
        span.file-name 
        div.upload-progress 
            div.upload-progress-bar.progress-width
        span.progress-text.progress-text