div.toast.uploader
    div.toast-header.d-flex.justify-content-between
        b Uploader
        button(type="button" class="close btn icon-btn-primary" data-bs-dismiss="toast") &times
    div.toast-body 
        