* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.medium-font {
  font-family: "Roboto", sans-serif;
  font-size: 19.5px;
  font-weight: 600;
  color: #181c32;
}

.border-none {
  border: none !important;
}

.input {
  background-color: #f5f5f5;
  border: none;
  padding: 12px;
}

.remove-focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  background: #1f3e76 !important;
  border: none;
  padding: 9px 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.btn-design {
  border: none;
  padding: 9px 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.btn-light {
  background-color: #f5f5f5 !important;
  border: none;
  padding: 9px 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.btn-light:hover {
  background: #1f3e76 !important;
  transition: 0.5s;
  color: white;
}

.sidenav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    #1e37c2 0%,
    #1e37c2 1%,
    #2a5298 100%
  );
  transition: 0.5s ease;
}
.sidenav-open {
  width: 250px;
}
.sidenav-close {
  width: 0;
}
.section {
  transition: 0.5s ease;
}
.section-open {
  margin-left: 250px;
}
.section-close {
  margin-left: 0;
}
.avatar {
  font-size: 25px;
  color: #234582;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.toolbar {
  width: 50px;
  height: 40px;
  border: 1px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 25px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toolbar a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #535354;
}

.toolbar:hover {
  border-color: #ccc;
  transition: 0.5s;
}
.toolbar i:hover {
  font-size: 18px;
  color: rgb(99, 3, 195);
  transition: 1s ease;
}

/****** STUDENT SKELETON LOADER CODE START *****/
.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton-loader {
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.140);
  position: absolute;
  left: 100%;
  top: 0;
  animation: loader linear 3s infinite;
}
@keyframes loader {
  from {
    top: 0;
    left: -100%;
  }
  to {
    top: 0;
    left: 0;
  }
}

/***** STUDENT SKELETON LOADER CODE END ******/

/* MEDIA QUERY */
@media (max-width: 600px) {
  .sidenav-open {
    width: 60px;
  }
  .sidenav-close {
    width: 0px;
  }
  .section-open {
    margin-left: 60px;
  }
  .section-close {
    margin-left: 0;
  }
}
